In [6]:
# Author: Alexandra Mai
# Date: 16th of May 2023
# Title: Introduction to Python Functions

# Python Functions

```python
def function_name(input_variables):
    # function body
    return output
```

# First examples from the lecture

### Function with single input parameter

In [42]:
def add_ten(x):
    return x+10

In [43]:
add_ten(5)

15

### Function with multiple input parameters

In [9]:
def add_up(x,y):
    return x+y

In [10]:
add_up(5,20)

25

...store your output in a new variable:

In [11]:
# the result can be assigned to a new variable
result = add_up(5,20)

In [12]:
result

25

## Function Comments

In [ ]:
def add_up(x,y):
    """
    this function sums up to given values x and y.
    """
    return x+y

## Example of applying Discounts to Prices

> Given a list of Prices: $ prices = [300, 550.3, 10.80, 400, 1000, 60, 150, 78, 290]$.
>
> We want to loop through the list and apply two types of discounts: 
> - The christmas discount gives 20% to every price. 
> - The special discount of 15% applies only to prices over 200.
>
> The result should be stored in a new list.

In [14]:
prices = [300, 550.3, 10.80, 400, 1000, 60, 150, 78, 290]
new_price_list = []

### solution without functions

In [15]:
for price in prices:
    
    # the discout for christmas was 20%
    price_xmas_disc = price*0.8
    
    # the special discount of 15% applies only to purchases that cost more than 200 Euro
    if price_xmas_disc >= 200:
        price_final = price_xmas_disc*0.85
    else:
        price_final = price_xmas_disc
        
    new_price_list.append(price_final)

In [16]:
new_price_list

[204.0, 374.204, 8.64, 272.0, 680.0, 48.0, 120.0, 62.400000000000006, 197.2]

### solution with functions

In [ ]:
def apply_christmas_discount(x):
    """
    this function applies the christmans discount of 20% to a given price x.
    """
    return x*0.8

def apply_special_discount(x):
    """
    this function applies the special discount of 15% to a given price x only if the price is over 200.
    """
    if x >= 200:
        return x*0.85
    else:
        return x

In [ ]:
for price in prices:

    price_xmas_disc = apply_christmas_discount(price)
    price_final = apply_special_discount(price_xmas_disc)

    new_price_list.append(price_final)

In [38]:
new_price_list

[204.0, 374.204, 8.64, 272.0, 680.0, 48.0, 120.0, 62.400000000000006, 197.2]

# Practical Exercise for you

**Business Context:**
> You work in a realestate agency. a common request your team receives is to calculate the bond for a new rental contract.   
> In the hottest realestate market Berlin the bond is 4 times the value of the montlhy rent. 
> Everwhere else in germany the bond is 3 times the value of the monthly rent.

**Task:**
> Write a python function that calculcates the bond based on the monthly rent and the city the person lives in.

In [ ]:
# Test your function with
monthly_rent = 350
city = 'Berlin'